* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 140%;
    background-color: black;
    background-size: cover;
}

header h1 {
    color: #ff4893;
}

.bg-color {
    background-image: url("./img/dating-background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: contain;

}

.width-100 {
    width: 100%;
}

.pad-3 {
    padding: 3%;
}

.margin-0 {
    margin: 0 auto;
}

header {
    color: #333;
}

input[type=text] {
    display: inline-block;
    border: none;
    border-radius: 15px;
    padding: 5px;
}

main {
    display: inline-block;
    padding: 5px;
    font-size: 110%;
    color: #ff4893;
    border: none;
    border-radius: 10px;
}

#calc {
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: lightpink;
    padding: 10px;

}

#button {
    margin-top: 50px;

}

footer {
    background-color: lightpink;
    margin: auto;
}

#output {
    color: #ff4893;
    font-size: 200%;
    height: 50px;
}

.heart {
    color: #ff4893;
}